<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragment/general.html :: headerFragment" th:remove="tag"></div>
    <title>Lecturers</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/webjars/fullcalendar/2.2.5/fullcalendar.css">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/webjars/fullcalendar/2.2.5/fullcalendar.print.css" media="print">
    <link href="http://cdn.jsdelivr.net/webjars/fullcalendar/2.2.5/fullcalendar.css"
          th:href="@{/webjars/fullcalendar/2.2.5/fullcalendar.css}"
          rel="stylesheet"></link>
    <link href="http://cdn.jsdelivr.net/webjars/fullcalendar/2.2.5/fullcalendar.print.css"
          th:href="@{/webjars/fullcalendar/2.2.5/fullcalendar.print.css}"
          rel="stylesheet" media="print"></link>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.9.0/jquery.min.js"
            th:src="@{/webjars/momentjs/2.9.0/min/moment.min.js}"
            type="text/javascript"></script>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.4.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" type="text/javascript"></script>
    <script src="http://cdn.jsdelivr.net/webjars/fullcalendar/2.2.5/fullcalendar.min.js"
            th:src="@{/webjars/fullcalendar/2.2.5/fullcalendar.min.js}"
            type="text/javascript"></script>

    <link rel="stylesheet"
          href="http//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"
          th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}"/>
    <script
            src="http//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"
            th:src="@{/webjars/jquery-u i/1.12.1/jquery-ui.js}"
            type="text/javascript"></script>
    <!--Polska paczka językowa-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/locale/pl.js"></script>
</head>
<body>
<div th:replace="fragment/general.html :: navigation-bar" id="navigation"></div>
<div class="container">

    <div class="d-flex justify-content-center text-center">
        <form method="get" th:action="@{/lecturers}" action="#">
            <label>Prowadzący:
                <select id="lecturerName" class="selectpicker" th:value="${LecturersNames}" name="lecturerName"
                    onchange='if(this.value !== 0) {this.form.submit(); }'>
                <option th:each="lecturer: ${LecturersNames}" th:value="${lecturer}" th:text="${lecturer}" th:selected="${lecturer} == ${prevLecturer}">SELECT</option>
            </select>
            </label>

            <label>Rok akademicki:
                <select id="academicYear" class="selectpicker" th:value="${AcademicYears}" name="academicYear"
                    onchange='if(this.value !== 0) {this.form.submit(); }'>
                <option th:each="year: ${AcademicYears}" th:value="${year}" th:text="${year}" th:selected="${year} == ${prevAcademicYear}">SELECT</option>
            </select>
            </label>

            <label>Semestr:
                <select id="semesterType" class="selectpicker" th:value="${SemesterTypes}" name="semesterType"
                    onchange='if(this.value !== 0) {this.form.submit(); }'>
                <option th:each="semesterType: ${SemesterTypes}" th:value="${semesterType}" th:text="${semesterType}" th:selected="${semesterType} == ${prevSemesterType}">SELECT</option>
            </select>
            </label>
        </form>
    </div>

    <div id="user-info">
        <h1><b>Prowadzący</b></h1>
        <div id='calendar'></div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
</div>
<script>
    $(function () {

        function displayinfo(event, elements) {
            var name = event.title;
            var eventStart = moment(event.start).format("YYYY-MM-DD HH:mm")
            var eventEnd = moment(event.end).format("YYYY-MM-DD HH:mm")
            var description = event.description.descriptionText;
            alert(name + "\n" +
                eventStart + "\n" +
                eventEnd + "\n" +
                description)
        }

        let lecturerName = '[[${prevLecturer}]]'; // Initial value
        const lecturerSelect = $('#lecturerName'); // Select picker element

        let academicYear = '[[${prevAcademicYear}]]';
        const academicYearSelect = $('#academicYear');

        let semesterType = '[[${prevSemesterType}]]';
        const semesterTypeSelect = $('#semesterType');

        lecturerSelect.on('change', function () {
            patient_pesel = lecturerSelect.val(); // Update the patient_pesel variable with the selected value
            // Rest of your code...
        });

        $(document).ready(async function () {
            let url = '/semesterClasses/';
            if (lecturerName !== "") {
                url = '/semesterClasses/lecturer/';
            }else
                lecturerName = 'all';
            url = url.concat(lecturerName);
            url = url.concat('/' + academicYear)
            url = url.concat('/' + semesterType)
            console.log(lecturerName);
            console.log(academicYear);
            console.log(semesterType);
            console.log(url);
            $('#calendar').fullCalendar({
                lang: 'pl',
                buttonText: {
                    today: 'dziś',
                    month: 'miesiąc',
                    week: 'tydzień',
                    day: 'dzień',
                    list: 'lista'
                },
                allDaySlot: false,
                axisFormat: 'HH:mm',
                minTime: '06:00',
                maxTime: '24:00',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaWeek,agendaDay'
                },
                defaultDate: moment().format("YYYY-MM-DD"),
                defaultView: 'agendaWeek',
                weekends: true,
                firstDay: 1,
                editable: false,
                eventLimit: true,
                events: {
                    url: url,
                    //TODO remove this error later on
                    /*error: function () {
                        alert('there was an error while fetching events!');
                    }*/
                },
                selectable: false,
                selectHelper: true,
                loading: function (bool) {
                    $('#loading').toggle(bool);
                },
                eventClick: function (event, element) {
                    if ([[${isAdminLogged}]]) {
                        if (!event.studyType) {
                            var confirmation = window.confirm('Chcesz usunac wybraną niedostępność?');
                            if (confirmation) {
                                var deleteUrl = "/lecturer-non-available/delete/" + event.eventId; // Replace with your actual endpoint
                                $.ajax({
                                    url: deleteUrl,
                                    type: 'DELETE',
                                    success: function (result) {
                                        // Handle success, if needed
                                        console.log(result);
                                        location.reload();
                                    },
                                    error: function (error) {
                                        // Handle error, if needed
                                        console.error(error);
                                    }
                                });
                            }
                        } else {
                            var confirmation = window.confirm('Chcesz edytować wybrane zajęcia?');
                            if (confirmation) {
                                var editPageUrl = "/modify-classes?eventId=" + event.eventId + "&studyType=" + event.studyType
                                window.location.href = editPageUrl;
                            }
                        }
                    }
                },

                //Display event title on hover
                eventMouseover: function (event, jsEvent, view) {
                    // Display the full title when hovering over the event
                    var formattedTitle = event.title.replace(/\n/g, '<br>');
                    var tooltip = '<div class="tooltipevent" style="width:auto;height:auto;background:#f8f8f8;position:absolute;z-index:10001;padding:10px;border:1px solid #d8d8d8;box-shadow:0 2px 10px rgba(0, 0, 0, 0.1);">' + formattedTitle + '</div>';
                    $("body").append(tooltip);
                    $(this).mouseover(function (e) {
                        $(this).css('z-index', 10000);
                        $('.tooltipevent').fadeIn('500');
                        $('.tooltipevent').fadeTo('10', 1.9);
                    }).mousemove(function (e) {
                        $('.tooltipevent').css('top', e.pageY + 10);
                        $('.tooltipevent').css('left', e.pageX + 20);
                    });
                },

                eventMouseout: function (event, jsEvent, view) {
                    // Remove the tooltip when the mouse leaves the event
                    $(this).css('z-index', 8);
                    $('.tooltipevent').remove();
                },
            });
        });
    });
</script>
</body>
</html>
